
$color-primary: #092F4C;
$color-secondary: #E0E6F0;

$color-black-a: #000000;
$color-black-b: #141D2F;
$color-black-c: #3C3C43;
$color-black-d: #1C1939;

$color-grey: #5F5D5D;
$color-grey-b: #2C2948;


$color-white: #ffffff;

$color-red:#E01212;
$color-green:#4BB543;
$color-yellow:#F29339;
$color-blue: #3E6AE0;
;


$color-bg-a: #E5E5E5;
$color-bg-b: #E0E6F0;
$color-bg-c: #F7F7F7;
$color-bg-d: #F9F9F9;

$color-border-a: #DBDBDB;
$color-border-b:#BFC6D4;




