body{
    background-color: $color-bg-a;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-bg-a;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

input{
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}