.comment{
    height: 37rem;
    width: 31rem;
    background-color: #EBEEF5;
    @include centerMiddle;

    &-header{
        background-color: white;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0 1rem;
        margin-bottom: 2rem;

        .close{
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
            background-color: black;
            color: white;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-content: center;
            font-weight: 400;
        }
        
    }

    main{
        position: relative;
        height: 30rem;
        overflow-y: auto;

        .comment-message{
            min-height: 3rem;
            min-width: 5.5rem;
            max-width: 19rem;
            background-color: white;
            padding: .5rem 1.25rem;
            margin: .6rem 2rem;
            display: grid;
            grid-template-columns: 72% 28%;

            span{
                font-size: .75rem;
            }

            .comment-item{
                display: block;
            }
        }

        .comment-message-admin{
            position: relative;
            min-height: 3rem;
            min-width: 5.5rem;
            max-width: 19rem;
            background-color: white;
            padding: .5rem 1.25rem;
            margin: 2.5rem 2rem;
            display: grid;
            grid-template-columns: 100%;

            span{
                font-size: .75rem;
            }

            .comment-item{
                width: 100%;
                display: grid;
                align-items: center;
                grid-template-columns: 72% 28%;
                padding: .4rem 0;

                .comment-text{
                    font-size: 1rem;
                }
            }

            .comment-item:last-child{
                border-bottom: none;
            }

            .commenter-name{
                position: absolute;
                top: -1.3rem;
                color: $color-green;
                font-weight: 600;
            }
        }
       
        .comment-box{
            height: 5.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            background-color: white;
            padding: 1.25rem 1.4rem;
           

            input{
                background-color: #F7F7F7;
                height: 3.1rem;
                width: 80%;
                border-radius: 999px;
                padding: 0 1rem;
            }

            button{
                background-color: $color-black-b;
                height: 3.1rem;
                width: 3.1rem;
                border-radius: 50%;
            }
        }
    }
}