.contact-info{
    width: 23.6rem;
    padding-top: 2.2rem;
    padding-right: 2.2rem;
    background-color: $color-white;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: 11.8rem 10.8rem 5.5rem 9.6rem;
  
    .alert{
        top:-25rem !important;
        left: 52rem
    }

    .row-one{
        justify-items: center;
        display: grid;
        position: relative;

        .notification{
            position: absolute;
            display: flex;
            align-items: center;
            top: -1rem;
            left: 1rem;
            height: 2.3rem;
            width: 100%;
            font-size: .75rem;
            padding-left: 1rem;
            color: rgba(9, 47, 76, 1);
            background-color: #E5E5E5;
            border-left: .3rem solid #092F4C;

            img{
                height: 1.25rem;
                margin-right: .4rem;
            }
        }

        .green{
            color: $color-green;
            border-left: .3rem solid $color-green;
        }

        .red{
            color: $color-red;
            border-left: .3rem solid $color-red;
        }
    }

    
    .play-video{
        position: absolute;
        top: 6rem;
        left: 12rem;
        cursor: pointer;
    }

    .tooltip{
        position: absolute;
        top: 3.7rem;
        left: 12rem;
    }

    .span{
        grid-row: 2/4;
        height: 12.3rem;
        overflow-y: auto;
    }

    .row-two{
        height: 12rem;
    }

    .row-three,.row-four{
        margin-top: 1.6rem;
    }

    .row-three{
        height: 10rem;
        overflow-y: auto;
    }

    .row-four{
        height: 10rem;
    }

    .row-two,.row-three, .row-four{
      padding: 0rem 0 0 1.5rem;
      position: relative;
      overflow-y: auto;
    }

    .case{
        height: 3rem;
        display: grid;
        align-content: center;
        grid-template-columns:70% 30%;
        border-bottom: 1px solid rgba(219, 219, 219, 0.67);

        &-header{
            font-weight: 500;
            font-size: .75rem;
        }

        &-content{
            margin-top: .2rem;
            color: rgba(60, 60, 67, 0.6);
            font-size: .75rem;
        }

        .in-progress{
            color: $color-yellow;
        }

        .resolved{
            color: $color-green;
        }

        .stopped{
            color: $color-red
        }
    }

    &__pic{
        height: 9.4rem;
        width: 9.4rem;
        border-radius: 50%;
    }

    &__picSmall{
        height: 7.4rem;
        width: 7.4rem;
        border-radius: 50%;
        margin-top: 2rem;
        filter: blur(.4rem)
    }


    &__name{
      font-size: 1.1rem;
      font-weight: 500;
    }

    &__subheader{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .5rem;
        background-color: white;
        position: sticky;
        top: 0;
      }
    
    &__stakeholder{
       display: flex;
       justify-content: space-between;
       margin-top: 3.1rem;
       align-items: center;
       border-top: 1px solid $color-bg-b;
       padding-top: 1rem;
       span{
           font-size: .75rem;
       }
    }
    
    &__fullname{
        font-size: .95rem;
        font-weight: 400;
        background-color: rgba($color-primary,.2);
        border: 0.9px solid $color-primary;
        border-radius: 9px;
        padding: .65rem 1.6rem;
        margin: 1rem 0.75rem;
    }

    &__request{
        font-size: .75rem;
        font-weight: 400;
        text-align: center;
        margin-top: .75rem;
    }

    &__edit{
       position: absolute;
       top: -1rem;
       left: 99%;
       cursor: pointer;
    }
    &__actions{
        display: flex;
        justify-content: space-between;
        margin-top: 1.7rem;

        .decline{
            color: $color-red;
            background-color: rgba($color-red,.1);
        }
        .approve{
            color: $color-white;
            background-color: $color-green;
        }
    }

    &__status{
        position: absolute;
        background-color:rgba($color-red, 0.2);
        border-left: 4px solid $color-red;
        top: 11.5rem;
        left: 42.5rem;
        height: 3rem;
        width: 20rem;
        z-index: 9;
        display: grid;
        align-items: center;
        justify-content: center;
        color: rgba($color-red, 1);
        font-size: .9rem;
    }

    .popup-menu{
        position: absolute;
        left: 67%;
        top: 1rem;
        width: 10.525rem;
        height: 7.125rem;
        background-color: $color-white;
        z-index: 99;
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        font-size: .75rem;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        padding: 1rem 0rem 1rem 1rem;
        align-items: center;
        font-weight: 500;
    }

    li{
        cursor: pointer;
    }

    li:last-child{
        color: $color-red;
    }

    .no-records{
   
        margin-top: 7rem;
        margin-left: 25rem;
        img{
            margin-left: 5rem;
            margin-bottom: 2rem;
        }
    
        p:first-of-type{
            color: #141D2F;
            font-weight: 700;
            font-size: 1.1rem;
            margin-left: 6rem;
        }
        p:last-of-type{
            color: rgba(60, 60, 67, 0.6);
            width: 15.5rem;
            text-align: center;
            margin-left: 1rem;
        }
    }
}

.stakeholder-info{
    grid-template-rows: 11.8rem 5.8rem 5.5rem 11.6rem;
}

.approved-btn{
    color: $color-white;
    background-color: $color-green;
    margin-top: 2rem
}

.no-data{
   @include centerVertically;
   left: 60%;
   text-align: center;

    p:first-of-type{
        color: #141D2F;
        font-weight: 700;
        font-size: 1.1rem;
        margin-top: 2rem;
    
    }
    p:last-of-type{
        color: rgba(60, 60, 67, 0.6);
        width: 15.5rem;
        text-align: center;
    
    }
}


.no-clicked-data{
    @include centerVertically;
    left: 57%;
    text-align: center;
 
 }

 .adj{
     left: 45.5%;

     p{
         font-size: .8rem
     }
 }

.no-data-distress{
    @include centerVertically;
    left: 45%;
    text-align: center;
}