.contact-info{
    width: 23.6rem;
    padding-top: 2.2rem;
    padding-right: 2.2rem;
    background-color: $color-white;
    display: grid;
    grid-template-rows: 11.8rem 5.8rem 8.5rem 9.6rem;
  

    .row-one{
        justify-items: center;
        display: grid;
        position: relative;
    }
    .span{
        grid-row: 2/4;
    }

    .row-three,.row-four{
        margin-top: 1.6rem;
    }

    .row-two,.row-three, .row-four{
      padding: 1.5rem 0 0 1.5rem;
    }

    &__pic{
        height: 9.4rem;
        width: 9.4rem;
        border-radius: 50%;
    }

    &__name{
      font-size: 1.1rem;
      font-weight: 500;
    }

    &__subheader{
        font-size: 1.2rem;
        font-weight: 600;
      }
    
    &__stakeholder{
       display: flex;
       justify-content: space-between;
       margin-top: 3.1rem;
       align-items: center;
       border-top: 1px solid $color-bg-b;
       padding-top: 1rem;
       span{
           font-size: .75rem;
       }
    }
    
    &__fullname{
        font-size: .95rem;
        font-weight: 400;
        background-color: rgba($color-primary,.2);
        border: 0.9px solid $color-primary;
        border-radius: 9px;
        padding: .65rem 1.6rem;
        margin: 1rem 0.75rem;
    }

    &__request{
        font-size: .75rem;
        font-weight: 400;
        text-align: center;
        margin-top: .75rem;
    }

    &__edit{
       position: absolute;
       top: -1rem;
       left: 99%;
       cursor: pointer;
    }
    &__actions{
        display: flex;
        justify-content: space-between;
        margin-top: 1.7rem;

        .decline{
            color: $color-red;
            background-color: rgba($color-red,.1);
        }
        .approve{
            color: $color-white;
            background-color: $color-green;
        }
    }

    .popup-menu{
        position: absolute;
        left: 67%;
        top: 1rem;
        width: 9.525rem;
        height: 5.125rem;
        background-color: $color-white;
        z-index: 99;
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        font-size: .75rem;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        padding: 1rem 0rem 1rem 1rem;
        align-items: center;
        font-weight: 500;
    }

    li{
        cursor: pointer;
    }

    li:last-child{
        color: $color-red;
    }
}

.stakeholder-info{
    grid-template-rows: 11.8rem 5.8rem 5.5rem 11.6rem;
}

.no-data{
   @include centerVertically;
   left: 50%;
   text-align: center;
}

.no-data-distress{
    @include centerVertically;
    left: 45%;
    text-align: center;
}