.reset-password{
    height: 26rem;
    width: 30rem;
    padding: 2rem 0;
    background-color: $color-white;
    display: grid;
    grid-template-rows: repeat(3, 3.5rem) 4.5rem 8rem;
    align-items: center;
    justify-items: center;
    border-radius: .75rem;
    @include centerMiddle;

    .error{
        font-size: .875rem;
        color: $color-red;
    }

    .success{
        font-size: .875rem;
        color: $color-green;
    }

    input{
        height: 2.9rem;
        width: 20rem;
        display: block;
        background-color: $color-bg-c;
        border-radius: .55rem;
        padding-left: 1.6rem;
        margin-top: .2rem;
        border: 1px solid $color-border-a;
    }

  &__buttons{
      display: flex;
      justify-content: space-between;
      width: 22.5rem;

      button:first-of-type{
          background-color: $color-green;
          color: $color-white;
      }

      button:last-of-type{
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
        background-color: rgba(rgb(224, 18, 18), .2);
        border-radius: .15rem;
        color: $color-red;
        grid-column: 1/-1;
        justify-self: center
      }

      button{
          width: 11rem;
          font-size: .9rem;
      }
  }
}