.stakeholder-modal{
    height: 35rem;
    width: 32rem;
    overflow-y: scroll;
    background-color: $color-white;
    display: grid;
    grid-template-rows: 25% 75%;
    align-items: center;
    justify-items: center;
    border-radius: .75rem;
    @include centerMiddle;

    .success{
        display: absolute;
        top: -3rem;
    }

    form{
        position: relative;
        display: grid;
        align-self: start;
        justify-self: center;

            
        .error{
            position: absolute;
            top: -2rem;
            left: 0rem;
            color: $color-red !important;
            font-size: .75rem;
        }

        .form-row{
            display: grid;
            justify-items: center;
        }

        .actions{
            display: flex;
            justify-content: space-between;
            padding-bottom: 2rem;
        }
    }

    &__field{
        height: 2.9rem;
        width: 19rem;
        display: block;
        background-color: $color-bg-c;
        border-radius: .55rem;
        padding-left: 1.6rem;
        margin-top: 1rem;
        border: 1px solid $color-border-a;
    }

    &__submit{
        height: 2.5rem;
        width: 8rem;
        background-color: $color-green;
        border-radius: .15rem;
        margin-top: 3rem;
        color: $color-white;
        grid-column: 1/-1;
        justify-self: center;
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
    }

    &__cancel{
        box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
        height: 2.5rem;
        width: 8rem;
        background-color: rgba(rgb(224, 18, 18), .2);
        border-radius: .15rem;
        margin-top: 3rem;
        color: $color-red;
        grid-column: 1/-1;
        justify-self: center
    }

}