.stakeholder-modal{
    height: 35rem;
    width: 44rem;
    background-color: $color-white;
    display: grid;
    grid-template-rows: 25% 75%;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    @include centerMiddle;

    form{
        position: relative;
        display: grid;
        align-self: start;

            
        .error{
            position: absolute;
            top: -2rem;
            left: 0rem;
            color: $color-red !important;
            font-size: .75rem;
        }

        .form-row{
            display: flex;
            justify-content: space-between;
            width: 39rem;
        }
    }

    &__field{
        height: 2.9rem;
        width: 19rem;
        display: block;
        background-color: $color-bg-c;
        border-radius: .55rem;
        padding-left: 1.6rem;
        margin-top: 1rem;
        border: 1px solid $color-border-a;
    }

    &__submit{
        height: 3.4rem;
        width: 19rem;
        background-color: $color-red;
        border-radius: .55rem;
        margin-top: 3rem;
        color: $color-white;
        grid-column: 1/-1;
        justify-self: center
    }

}