.video-modal{
    @include centerMiddle;

    video{
        height: 32.5rem;
        width: 50.5rem;
    }

    p{
        background-color: white;
        height: 5rem;
        width: 19rem;
        padding-top: 2rem;
        text-align: center;
    }
}

