.distress{
    margin: 3rem 3rem;


    &-header{
        display: grid;
        grid-template-rows: 3rem 4.1rem;
        grid-gap: 1rem;

        &_top{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__title{
            font-size: 1.5rem;
        }

        &__metrics{
            width: 50.625rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 1.4rem;
        }
    }

    &-body{
        position: relative;
        min-height: 52.75rem;
        width: 65.56rem;
        background-color: $color-white;
        border-radius: .625rem;
        margin-top: 2.9rem;

        &__filters{
            height: 5.5rem;
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 10.5rem 10.5rem 27rem 8rem 4.5rem;
            padding: 0 2.625rem;

            .apply{
                font-size: .75rem;
                width: 5.9rem;
                height: 2.2rem;
                opacity: .6;
                background: #EBEEF5;
                border-radius: .5rem;
            }

            .search{
                width: 17.25rem;
                height: 2.2rem;
                padding-left: 1rem;
                border: 1px solid $color-border-b;
                border-radius: .5rem;
                display: grid;
                justify-self: center;
            }

            .date{
                background: #EBEEF5;
                border-radius: .5rem;
                height: 2.2rem;
                width: 7.2rem;
                opacity: .6;
                font-size: .75rem;
            }

            .clear{
                background-color: transparent;
                color: $color-blue;
            }

            .MuiInput-underline::before {
                border-bottom: 0px solid rgba(0, 0, 0, 0.42) ;
                pointer-events: none;
            }
            .MuiInputBase-input {
               height: 2rem;
               width: 7.2rem;
               font-size: .625rem;
            }
        }

        .pagination{
            height: 1.5rem;
            position: absolute;
            bottom: 4rem;
            left: 2rem;
            display: flex;
            justify-content: space-between;
            width: 90%;
            color: rgba(60, 60, 67, 0.6);
            font-family: Roboto;

            &-center{
                display: flex;
                align-items:center;

                img{
                    cursor: pointer
                }
    

                ul{
                    display: flex;
                    margin: 0 1.2rem;
                    li{
                        color: #B5C7D1;
                        margin-right: .8rem;

                        span{
                            color: black;
                            font-weight: 800;
                        }
                    }
                }
            }
        
        }
    }

    .no-records{
   
        margin-top: 7rem;
        margin-left: 25rem;
        img{
            margin-left: 5rem;
            margin-bottom: 2rem;
        }
    
        p:first-of-type{
            color: #141D2F;
            font-weight: 700;
            font-size: 1.1rem;
            margin-left: 6rem;
        }
        p:last-of-type{
            color: rgba(60, 60, 67, 0.6);
            width: 15.5rem;
            text-align: center;
            margin-left: 1rem;
        }
    }
}



.log-item{
    height: 3.9rem;
    margin: 0 2.625rem;
    position: relative;
    display: grid;
    grid-template-columns: 5.09rem 6.66rem 8.19rem 12.06rem 15.75rem 5.88rem 1rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $color-secondary;
    font-family: Roboto, sans-serif;

    &__title{
        font-size: .625rem;
        color: rgba($color-black-c, .6);
        margin-bottom: .4rem;
    }
    &__value{
        font-size: .75rem;
        font-weight: 700;
        color: $color-black-b;
    }

    &__comments{
        font-family: Montserrat, sans-serif;
        font-size: .625rem;
        background-color: $color-primary;
        color: $color-white;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        text-align: center;
        display: grid;
        align-content: center;
    }

    img:last-of-type{
        cursor: pointer;
    }

   
}

.popupHeight{
    height: 5.9rem !important;
}

.media-popup{
    position: absolute;
    padding: 1.25rem;
    right: -2.5rem;
    top: 3rem;
    height: 8.9rem;
    width: 8rem;
    border-radius: .25rem;
    background-color: $color-white;
    box-shadow: 0px 7px 70px rgba(0, 0, 0, 0.1);
    z-index: 22;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;

    p{
        margin-bottom: 1.25rem;
        cursor: pointer;
    }

    .resolved{
        color: $color-green;
    }
}

//Material UI overide
.MuiOutlinedInput-input {
    padding: .5px 14px !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -4px) scale(0.75) !important;
    font-size: .85rem;
}

.PrivateNotchedOutline-root-1 {
border: none !important;
}