.landingPage{
    &-hero{
        display: grid;
        grid-template-columns: 50% 50%;
        align-content: center;
        justify-items: center;
        min-height: 100vh;
        background-color: $color-black-b;
        padding-left: 0;
      

        &__left{
            display: grid;
            align-content: center;
            color: white;
            padding-left: 2rem;
            margin-left: 7.5rem;

            .links{
                display: flex;
                margin-top: 3rem;
                margin-left: -1rem;

                img{
                    cursor: pointer;
                }
            }

            h1{
                width: 45rem;
                font-weight: 700;
                font-size: 4.4rem;
                line-height: 5.5rem;
            }

            p{
                width: 39rem;
                font-weight: 500;
                font-size: 1.25rem;
                margin-top: 1rem;

            }
            button{
                margin-top: 6rem;
                height: 3.8rem;
                width: 17.5rem;
                background-color: $color-red;
                color: white
            }
        }

        &__right{
            position: relative;
            .spinner{
                transform: rotate(0deg);
                transition: transform 0.7s linear;
                animation: rotate 7s infinite linear;
            }
            .image-one{
                position: absolute;
                left: -1rem;
                top: 4rem;
            }

            .image-two{
                position: absolute;
                right: -3rem;
                top: 9rem;
            }

            .image-three{
                position: absolute;
                left: 10rem;
                bottom: -3rem;
            }
            .image-phone{
                @include centerMiddle
            }
        }
    }

    &-Econtacts{
        display: grid;
        grid-template-columns: 50% 50%;
        align-content: center;
        align-items: center;
        justify-items: center;
        min-height: 100vh;
        background-color: white;
        padding-left: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;

        &__right{
            h5{
                font-size: .875rem;
                color: $color-red;
                font-weight: 500;
            }
            h1{
                font-size: 3rem;
                width: 39rem;
            }

            li{
                margin-top: 1rem;
                width: 37.5rem;
            }
        }

        &__left{

            img{
               //margin-top: 5rem;
                height: 33rem;
            }
           
        }
    }

    &-features{
        min-height: 100vh;
        background-color: $color-black-b;
        padding-left: 0;
        padding: 10rem;
        color: white;

        h1{
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5rem;
        }

        &__list{
            display: grid;
            grid-template-columns: repeat(3,25rem);
            justify-content: center;

            .feature{
                display: grid;
                grid-template-rows: 4.5rem 6.5rem 29rem;

                h2{
                    font-size: 1.5rem;
                    width: 18rem;
                }
                p{
                    width: 19rem;
                    font-size: .95rem;
                }
                img{
                    border-radius: 1.5rem;
                }
            }
        }
    }

    &-stakeholders{
        display: grid;
        padding-top: 10rem;
        padding-bottom: 10rem;
        grid-template-columns: 50% 50%;
        align-content: center;
        align-items: center;
        justify-items: center;
        min-height: 100vh;
        background-color: white;
        padding-left: 0;
        color: $color-black-b;

        &__left{
            h1{
                font-size: 3rem;
                margin-top: -1.5rem;
            }
            p{
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 1.6rem;
                margin-bottom: 2.65rem;
                width: 35rem;
            }
            .stakeholder-example{
                display: flex;
                align-items: center;
                width: 35rem;
                min-height: 3rem;
                margin-bottom: .4rem;
              

                img{
                    margin-right: 1.5rem;
                    height: 4rem;
                    margin-top: -1rem;
                    
                }

                p{
                    line-height: 1.65rem;

                    span{
                        font-weight: 900;
                    }
                }
            }

            button{
                margin-top: 1.4rem;
                height: 3.8rem;
                border-radius: .45rem;
            }
        }

        &__right{
            img{
                border-radius: 1.5rem;
            }
        }
    }

    &-howItWorks{
        min-height: 100vh;
        background-color: rgba(255,255,255,.8);
        padding: 10rem 0;
        color: $color-black-b;
        text-align: center;

        h1{
            font-size: 3rem;
        }
      
     

        &__cards{
           display: grid;
           grid-template-columns: repeat(3,25rem);
           grid-gap: 1rem;
           justify-content: center;
           margin-top: 4rem;

            .howItWorks-card{
                height: 28rem;
                width: 25rem;
                background-color: white;
                padding: 4rem 2rem ;

                h3{
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                img{
                    margin-bottom: 2.45rem;
                    height: 3rem;
                }
            }
        }
    }

    &-contact{
       padding-top: 8rem;
       padding-bottom: 7rem;
    }

    &-footer{
      background-color: $color-black-b;
      color: white;
      padding: 6.5rem 0;

      &__top{
          display: flex;
          justify-content: center;

          .copy{
              width: 24rem;
              height: 23rem;
              background-color: rgba($color-secondary, .1);
              padding: 4rem 3.5rem 0 3.5rem;

              h4{
                  font-size: .9rem;
                  font-weight: 500;
                  margin-bottom: .5rem;
              }

              h3{
                  font-weight: 600;
                  font-size: 1.75rem;
                  margin-bottom: 1.1rem;
              }

              p{
                  font-size: .95rem;
                  margin-bottom: 1.25rem;
              }

              span{
                  img{
                      height: 2.6rem;
                      margin-right: .1rem;
                  }
              }
          }
      }

      &__bottom{
          margin-top: 6rem;
          font-size: .9rem;
          color: #717272;
          display: flex;
          justify-content: space-between;
          padding: 0 8.5rem;

         span{
             margin-left: 1rem;
         }
      }
    }
}

@media only screen and (max-width:1350px) {
    .landingPage{
        &-hero{

            &__left{
                    h1{
                        width: 90%;
                        font-weight: 700;
                        font-size: 3.4rem;
                        line-height: 4.5rem;
                    }
            }
        }

        &-Econtacts{

            &__left{
               img{
                   height: 32rem;
               }
            }
            
        }
    }
        
    
}

@media only screen and (max-width:1200px) {
    .landingPage{
        &-hero{
            grid-template-columns: 100%;

            &__right{
                display: none;
            }
        }

        &-Econtacts{
            grid-template-columns: 100%;

            
            &__left{
                display: none;
            }
            
        }

        
    &-features{

        padding: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;

        &__list{
            display: grid;
            grid-template-rows: repeat(3,26rem);
            grid-template-columns: 100%;
            justify-content: center;
            justify-items: center;

            .feature{
                display: grid;
                grid-template-rows: 4.5rem 4rem 15.5rem;


                img{
                    height: 15rem;
                    //width: 20rem;
                    object-fit: contain;
                }
            }
        }
    }

        &-stakeholders{
            grid-template-columns: 100%;

            &__right {
                display: none
            };
        }

        &-howItWorks{

         
            &__cards{
               grid-template-rows: repeat(3,25rem);
               grid-template-columns: 100%;
               grid-gap: 2rem;
               justify-content: center;
               justify-items: center;
    
            }
        }
    }
        
    
}

@media only screen and (max-width:946px) {
    .landingPage{
        &-footer{
          
            &__bottom{
                padding: 0 1.5rem;
            }

           .footer-image{
               display: none;
           }
        }
    }

    

}

@media only screen and (max-width:946px) {
    .landingPage{

        &-hero{
    
            &__left{
                padding-left: .5rem;
                margin-left: 2rem;
                h1{
                    width: calc(100vw - 2.5rem);
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
    
                p{
                    width: calc(100vw - 3rem);
                    font-weight: 500;
                    font-size: 1rem;
                    margin-top: 1rem;
    
                }

                button{
                    width: 11rem;
                }
            }
        }
        
    &-Econtacts{
        padding-top: 1.5rem;

        &__right{
         
            h1{
                margin-top: 1.5rem;
                font-size: 2.2rem;
                width: calc(100vw - 3rem);
                line-height: 3rem;
            }

            li{
                margin-top: 1rem;
                width: calc(100vw - 3rem);
            }
        }

    }

    &-features{

        h1{
            font-size: 2.2rem;
        }
        
    }

    &-howItWorks{

        h1{
            font-size: 2.2rem;
        }

    }

    &-stakeholders{

        &__left{

            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
                font-weight: 500;
                margin-top: 1.5rem;
                margin-bottom: 2.65rem;
                width: calc(100vw - 3rem);
            }
            .stakeholder-example{
                display: flex;
                align-items: center;
                width: calc(100vw - 3rem);
                margin-bottom: 2rem;
              
            }

         
        }
    }

        &-footer{

            &__bottom{
                
                display: grid;
                grid-template-rows: repeat(2,1fr);
                justify-items: left;
                justify-content: center;
                grid-row-gap: 1rem;
            }

       
        }
    }
}

@media only screen and (max-width:500px) {
    .landingPage{

        &-hero{
            &__left{
                img{
                    height: 4rem;
                }
            }
        }

        &-features{
     
            &__list{
              
    
                .feature{
                    text-align: center;

                    img{
                        display: grid;
                        justify-self: center;
                        justify-content: center;
                    }
    
                }
            }
        }

        &-stakeholders{

            &__left{
    
                .stakeholder-example{
                    display: flex;
                    align-items: center;
                    width: calc(100vw - 3rem);
                    margin-bottom: .3rem;
                    height: 7rem;
                }
    
             
            }
        }

        &-howItWorks{

            h1{
                font-size: 2rem;
            }

            &__cards{
                grid-template-rows: repeat(3,22rem);
                grid-gap: .5rem;
     
                 .howItWorks-card{
                     width: calc(100vw - 3rem);
                     height: 22rem;
                     padding: 2rem 2rem 1rem 2rem;
                 }
             }
        }

    }
}

@media only screen and (max-width:400px) {
    .landingPage{

        &-stakeholders{

            &__left{
    
                .stakeholder-example{
                    display: flex;
                    align-items: center;
                    width: calc(100vw - 3rem);
                    margin-bottom: .3rem;
                    height: 7.5rem;
                }
    
             
            }
        }

       

        &-footer{
      
            &__top{
      
                .copy{
                    width: calc(100vw - 2rem);
                    min-height:27rem;

                    span{
                        width: 100%;
                        display: grid;
                        grid-template-rows: repeat(2,1fr);
                        grid-row-gap: .5rem;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: 2.2rem;
                            margin-right: 0rem;
                        }
                    }
                }
            }
        }      
    }
}